@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

body {
  margin: 0;
  padding: 0;
  background: rgb(255, 0, 35);
  background: linear-gradient(
    90deg,
    rgba(255, 0, 35, 1) 0%,
    rgba(244, 116, 255, 1) 50%,
    rgba(0, 22, 255, 1) 100%
  );

  font-family: "Courgette", cursive;
}

h1 {
  text-align: center;
  font-size: 3rem;
  background: rgb(0, 3, 77);
  background: linear-gradient(
    90deg,
    rgba(0, 3, 77, 1) 0%,
    rgba(67, 0, 73, 1) 50%,
    rgba(78, 0, 0, 1) 100%
  );
  color: rgb(255, 255, 255);
  border: 2px inset black;
  line-height: 1.7;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  display: flex;
}

ul {
  width: 90%;
  margin-right: 8%;
}

#footer button {
  margin: 1rem auto;
  padding: 0.7rem;
  font-family: cursive;
  font-weight: bolder;
  font-size: large;
}

li {
  list-style-type: none;
  position: relative;
  font-size: 2rem;
  padding: 15px;
  margin: 0 0 10px 15px;
  background: rgb(255, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(104, 59, 255, 1) 50%,
    rgba(255, 0, 0, 1) 100%
  );
  color: #ffffff;
  text-shadow: black 2px 2px 2px;
  border: 10px inset rgb(255, 255, 255);
}
